main {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upload-box {
    padding: 3rem;
    border: 2px dashed black;
    border-radius: 1rem;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.upload-bubble {
    background-image: linear-gradient(to bottom right, black, silver);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    margin-bottom: 0.5rem;
}

.upload-icon {
    width: 2rem;
    height: 2rem;
    color: white;
}

.upload-text {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.upload-input {
    display: none;
}

.chat-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.file-info-banner {
    padding: 1rem 2rem;
    background-image: linear-gradient(to right, black, silver);
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.close-button {
    margin-left: auto;
    background: none;
    border: none;
}

.file-close {
    color: black;
}

.chat-conversation-container {
    height: 100%;
    overflow-y: scroll;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.chat-conversation-container::-webkit-scrollbar {
    display: none;
}

.chat-conversation-container::-moz-scrollbar {
    display: none;
}

.chat-bubble {
    padding: 1em;
    max-width: 500px;
    min-width: 60%;
    border-radius: 10px;
}

.italic {
    font-style: italic;
}

.human-chat {
    border-bottom-right-radius: 0;
    align-self: flex-end;
    background-color: silver;
    color: black;
}

.ai-chat {
    border-bottom-left-radius: 0;
    align-self: flex-start;
    background-color: black;
    color: white;
}

.chat-input-container {
    background-color: white;
    padding: 1.5rem 3rem;
    display: flex;
    gap: 0.5em;
    border-top: 1px;
    border-style: solid;
    border-color: rgb(229, 229, 229)
}

.chat-input-container > input {
    height: 3rem;
    padding: 0.5rem 1rem;
    flex: 1;
    border-radius: 0.7rem;
    background-color: white;
    color: black;
    border-color: rgb(229, 229, 229);
    border-style: solid;
    border-width: 1px;
}

.submit-button {
    padding: 0.5rem 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border-radius: 0.7rem;
    border: none;
    background-image: linear-gradient(to right, black, silver);
    font-size: 1rem;
    font-weight: bold;
}